<% form_for @share, :url=>"/shares/create" do |f| %>
	<div>
		<span>ProductName:</span>
		<input/>
	</div>
	<div>
		<span></span>
	</div>
<% end %>



<dl>

<dt>标题</dt>

<dd>内容1</dd>

<dd>内容2</dd>

</dl>