<ul class="products">
	<% @products.each do |product| %>
		<li>
			<a href="/products/<%=product.id%>">
				<div><%=product.name%></div>
				<div><img src="/products/<%=product.img%>"/></div>
				<div>¥99.9<a href="">购买</a><a href="/shares">晒单拿返利</a></div>
				<div><span>XX人已购买</span> <span>XX人已投票</span></div>
				<div><a href="">燕非风</a><img src="http://pics.taobaocdn.com/newrank/s_blue_3.gif" border="0" align="absmiddle" class="rank"></div>
			</a>
		</li>
	<% end %>
</ul>