<!DOCTYPE html>
<html>
<head>
  <title>Ishow</title>
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="main">
		<div class="header">
			<div class="logo">logo</div>
			<ul class="menu">
				<li>
					<a href="/"><img src="/images/head.jpg"/></a>
				</li>
				<li>
					<a href=""><span class="menu_message"></span></a>
				</li>
				<li>Shares</li>
				<li>Votes</li>
			</ul>
		</div>
		<div class="wrap">
			<%= yield %>
		</div>
		<div class="footer">
			footer
		</div>
	<div>
</body>
</html>
